.about-us h1 {
  font-family: 'Source Sans Pro', sans-serif;
}
.about-us .hero-image {
  width:100%;
  max-height: 400px;
}
.about-us aside img {
  width:100%;
  min-width: 320px;

}
.about-us p {
  min-width: 320px;
}
.about-us section {
  margin-bottom: 10px;
}
