.search {
    margin:auto;
}
.search .icon {
    font-weight: thin;
    display:flex;
    justify-content: center;
    align-items: center;
    
    right:2em;
    z-index:5;
    transform: translate(50%,0);
    cursor: pointer;
    transition: .3s all;
    
    font-size: 2em;
    transform: rotateZ(45deg);
}
.search .icon:hover {
    color: #337ab7;
    font-weight: 1000;
    transform: rotateZ(360deg);
}

.search input:focus + .icon {
    color: #337ab7;
    font-weight: 1000;
    transform: rotateZ(360deg);
}

.search input {
    width:100%;
    margin:0px;
    padding:30px;
    font-size: 2em;
}
#results {
    margin-top:50px;
}
#results .item {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
#results .item img {
    width:5em;
    max-width: 80px;
    height:auto;
    
}

#results .load-container {
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;

}
#results .load {
    width:100px;
    height:100px;
    display:block;

}
#results .desc {
    padding-left: 15px;
    color: black;
}